<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Số ca F1 mới trong ngày</p>
                        <h4 class="mb-0">{{numberF1}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Số ca F0 mới trong ngày</p>
                        <h4 class="mb-0">{{numberF0}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Số ca khỏi trong ngày</p>
                        <h4 class="mb-0">{{numberKhoi}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Tổng số ca đã khỏi</p>
                        <h4 class="mb-0">{{sumKhoi}}</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2 ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="mb-0 ">Số lượng người ở từng trạng thái</h6>
                    <p class="text-sm ">Thống kê theo thời gian</p>
                    <hr class="dark horizontal">
                    <div class="row">
                        <div class="col-8">
                            <input type="date" id="dateInput" class="form-control">
                        </div>
                        <div class="col-4">
                            <button class="btn bg-gradient-primary mb-2" onclick="handleChangeDate()">Thay đổi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2  ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="mb-0 ">Số lượng tiêu thụ gói nhu yếu phẩm</h6>
                    <p class="text-sm "> Lượng gói nhu yếu phẩm tiêu thụ theo ngày</p>
                    <hr class="dark horizontal">
                    <div class="row">
                        <div class="col-8">
                            <select class="form-select" aria-label="Default select example" id="selectCombo">
                                <option class="mx-2" value="-1" selected>All</option>
                                {{#each combo}}
                                    <option value="{{this.id}}">{{this.name}}</option>  
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-4">
                            <button class="btn bg-gradient-primary mb-2" onclick="handleChangeCombo()">Thay đổi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4 mb-3">
            <div class="card z-index-2 ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
            <div class="card-body">
                <h6 class="mb-0 ">Số lượng tiêu thụ sản phẩm</h6>
                    <p class="text-sm ">Lượng sản phẩm tiêu thụ theo ngày</p>
                    <hr class="dark horizontal">
                    <div class="row">
                        <div class="col-8">
                            <select class="form-select" aria-label="Default select example" id="selectNecessity">
                                <option class="mx-2" value="-1" selected>All</option>
                                {{#each necessity}}
                                    <option value="{{this.id}}">{{this.name}}</option>  
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-4">
                            <button class="btn bg-gradient-primary mb-2" onclick="handleChangeNecessity()">Thay đổi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/plugins/chartjs.min.js"></script>
    <script>
        var ctx = document.getElementById("chart-bars").getContext("2d");

        var chart1 = new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["Đã khỏi", "F0", "F1", "F2", "F3"],
                datasets: [{
                    label: "Sales",
                    tension: 0.4,
                    borderWidth: 0,
                    borderRadius: 4,
                    borderSkipped: false,
                    backgroundColor: "rgba(255, 255, 255, .8)",
                    data: [{{rs.Khoi}}, {{rs.f0}}, {{rs.f1}}, {{rs.f2}}, {{rs.f3}}],
                    maxBarThickness: 6
                },],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5],
                            color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 500,
                            beginAtZero: true,
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                            color: "#fff"
                        },
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5],
                            color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                            display: true,
                            color: '#f8f9fa',
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                },
            },
        });


        var ctx2 = document.getElementById("chart-line").getContext("2d");

        var chart2 = new Chart(ctx2, {
            type: "line",
            data: {
                labels: ["{{{arrDateString.[6]}}}", "{{{arrDateString.[5]}}}", "{{{arrDateString.[4]}}}", "{{{arrDateString.[3]}}}", "{{{arrDateString.[2]}}}", "{{{arrDateString.[1]}}}", "{{{arrDateString.[0]}}}"],
                datasets: [{
                    label: "Gói",
                    tension: 0,
                    borderWidth: 0,
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(255, 255, 255, .8)",
                    pointBorderColor: "transparent",
                    borderColor: "rgba(255, 255, 255, .8)",
                    borderColor: "rgba(255, 255, 255, .8)",
                    borderWidth: 4,
                    backgroundColor: "transparent",
                    fill: true,
                    data: [{{arrSumCombo.[6]}}, {{arrSumCombo.[5]}}, {{arrSumCombo.[4]}}, {{arrSumCombo.[3]}}, {{arrSumCombo.[2]}}, {{arrSumCombo.[1]}}, {{arrSumCombo.[0]}}],
                    maxBarThickness: 6
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5],
                            color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                            display: true,
                            color: '#f8f9fa',
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                            borderDash: [5, 5]
                        },
                        ticks: {
                            display: true,
                            color: '#f8f9fa',
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                },
            },
        });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");
    var chart3 = new Chart(ctx3, {
        type: "line",
        data: {
            labels: ["{{{arrDateString.[6]}}}", "{{{arrDateString.[5]}}}", "{{{arrDateString.[4]}}}", "{{{arrDateString.[3]}}}", "{{{arrDateString.[2]}}}", "{{{arrDateString.[1]}}}", "{{{arrDateString.[0]}}}"],
            datasets: [{
                label: "Sản phẩm",
                tension: 0,
                borderWidth: 0,
                pointRadius: 5,
                pointBackgroundColor: "rgba(255, 255, 255, .8)",
                pointBorderColor: "transparent",
                borderColor: "rgba(255, 255, 255, .8)",
                borderWidth: 4,
                backgroundColor: "transparent",
                fill: true,
                data: [{{arrSumNecessity.[6]}}, {{arrSumNecessity.[5]}}, {{arrSumNecessity.[4]}}, {{arrSumNecessity.[3]}}, {{arrSumNecessity.[2]}}, {{arrSumNecessity.[1]}}, {{arrSumNecessity.[0]}}],
                maxBarThickness: 6
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
            intersect: false,
            mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        display: true,
                        padding: 10,
                        color: '#f8f9fa',
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
                x: {
                    grid: {
                    drawBorder: false,
                    display: false,
                    drawOnChartArea: false,
                    drawTicks: false,
                    borderDash: [5, 5]
                    },
                    ticks: {
                    display: true,
                    color: '#f8f9fa',
                    padding: 10,
                    font: {
                        size: 14,
                        weight: 300,
                        family: "Roboto",
                        style: 'normal',
                        lineHeight: 2
                        },
                    }
                },
            },
        },
    });
    </script>
    <script src="/js/analysis.js"></script>
</div>