<div class="card z-index-0 fadeIn3 fadeInBottom">
    <h3 class='text-center my-3'>CHỈNH SỬA THÔNG TIN NGƯỜI LIÊN QUAN COVID-19</h3>
    {{#if successMessage}}
    <h5 class="text-center mb-3 text-success">{{successMessage}}</h5>
    {{/if}}
    <div class="container-fluid w-75">
        <form role="form" method="post" action="/moderator/edit-user">
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group input-group-outline mt-3 {{#if name}}focused is-focused{{/if}}">
                        <label class="form-label">Họ tên</label>
                        <input type="text" class="form-control" name="name" value="{{#if name}}{{name}}{{/if}}">
                    </div>
                    {{#each errorMessage}}
                    {{#ifStr this.param "name"}}<div class="err-msg">{{this.msg}}</div>{{/ifStr}}
                    {{/each}}
                </div>
                <div class="col-4">
                    <div class="input-group input-group-outline mt-3 {{#if card}}focused is-focused{{/if}}">
                        <label class="form-label">CMND/CCCD</label>
                        <input type="number" class="form-control" name="card" value={{#if card}}{{card}}{{/if}}>
                    </div>
                    {{#each errorMessage}}
                    {{#ifStr this.param "card"}}<div class="err-msg">{{this.msg}}</div>{{/ifStr}}
                    {{/each}}
                </div>
                <div class="col-2">
                    <div class="input-group input-group-outline mt-3 {{#if yob}}focused is-focused{{/if}}">
                        <label class="form-label">Năm sinh</label>
                        <input type="number" class="form-control" name="yob" min="1900" max="2022" value={{#if
                            yob}}{{yob}}{{/if}}>
                    </div>
                    {{#each errorMessage}}
                    {{#ifStr this.param "yob"}}<div class=" err-msg">{{this.msg}}</div>{{/ifStr}}
                    {{/each}}
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group input-group-outline mt-3 {{#if province}}focused is-focused{{/if}}">
                        <label class="form-label">Tỉnh/Thành phố</label>
                        <input type="text" class="form-control" name="province"
                            value="{{#if province}}{{province}}{{/if}}">
                    </div>
                    {{#each errorMessage}}
                    {{#ifStr this.param "province"}}<div class="err-msg">{{this.msg}}</div>{{/ifStr}}
                    {{/each}}
                </div>
                <div class="col">
                    <div class="input-group input-group-outline mt-3 {{#if district}}focused is-focused{{/if}}">
                        <label class="form-label">Quận/Huyện</label>
                        <input type="text" class="form-control" name="district"
                            value="{{#if district}}{{district}}{{/if}}">
                    </div>
                    {{#each errorMessage}}
                    {{#ifStr this.param "district"}}<div class="err-msg">{{this.msg}}</div>{{/ifStr}}
                    {{/each}}
                </div>
                <div class="col">
                    <div class="input-group input-group-outline mt-3 {{#if ward}}focused is-focused{{/if}}">
                        <label class="form-label">Phường/Xã</label>
                        <input type="text" class="form-control" name="ward" value="{{#if ward}}{{ward}}{{/if}}">
                    </div>
                    {{#each errorMessage}}
                    {{#ifStr this.param "ward"}}<div class="err-msg">{{this.msg}}</div>{{/ifStr}}
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="input-group input-group-outline mt-3 col">
                        <select class="form-control border-primary border-2" name="status">
                            <option {{#if status}}{{else}}selected{{/if}} disabled>Trạng thái bệnh nhân</option>
                            {{#each statusCovid}}
                            <option {{#ifStr status "{{this.id}}" }}selected{{/ifStr}} value="{{this.id}}">{{this.status}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-outline mt-3">
                        <select class="form-control border-primary border-2" name="related_person">
                            <option {{#if related_person}}{{else}}selected{{/if}} disabled>Người liên quan</option>
                            {{#each related_persons}}
                            <option {{#ifStr related_person "{{this.id}}. {{this.name}}, {{this.yob}}, {{this.ward}}-{{this.district}}-{{this.province}}"}}selected{{/ifStr}}>{{this.id}}. {{this.name}}, {{this.yob}}, {{this.ward}}-{{this.district}}-{{this.province}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-group input-group-outline mt-4">
                <select class="form-control border-primary border-2 w-100" name="place">
                    <option {{#if place}}{{else}}selected{{/if}} disabled>Nơi điều trị/cách ly</option>
                    {{#each location}}
                    <option {{#ifStr place "{{this.id}}" }}selected{{/ifStr}} value="{{this.id}}">{{this.name}} ({{this.current}}/{{this.capacity}})</option>
                    {{/each}}
                </select>
                {{#each errorMessage}}
                    {{#ifStr this.param "place"}}<div class="err-msg">{{this.msg}}</div>{{/ifStr}}
                {{/each}}
            </div>
            <input type="hidden" name="userId" value="{{userId}}">
            <div class="text-center mb-5">
                <button type="submit" class="btn bg-gradient-primary w-25 my-4 mb-2">SỬA</button>
            </div>
        </form>
    </div>
</div>