<!-- Back button -->
<div class="d-flex justify-content-start mb-3">
    <a type="button" class="btn bg-gradient-primary btn-block" href="/moderator/necessities-combo">
        Quay lại
    </a>
</div>

<!-- Add necessities button -->
<div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn bg-gradient-primary btn-block" data-bs-toggle="modal" data-bs-target="#modalAdd">
        Thêm nhu yếu phẩm vào gói
    </button>
</div>

<!-- Modal add -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal">Chọn nhu yếu phẩm để thêm</h6>
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close">
                    <span aria-hidden="true" class="text-primary">X</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body pb-3">
                    <form role="form text-left" id="add-form" action="/moderator/add-necessity-to-combo/{{comboId}}" method="post" onsubmit="return validateAdd()">
                        <div class="input-group input-group-outline my-3">
                            <select class="form-control" name="necesstity_to_add">
                                <option id="opt" {{#if necessities}}{{else}}selected{{/if}} disabled>Nhu yếu phẩm cần thêm vào gói</option>
                                {{#each necessities}}
                                    <option {{#ifStr necessities "{{this.id}}. {{this.name}}, {{this.price}} ₫/{{this.unit_of_measurement}}"}}selected{{/ifStr}}>{{this.id}}. {{this.name}}, {{this.price}} ₫/{{this.unit_of_measurement}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Số lượng mua tối thiểu</label>
                            <input type="number" class="form-control" name="min" id="add-min-input" min="1">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Số lượng mua tối đa</label>
                            <input type="number" class="form-control" name="max" id="add-max-input" min="2">
                        </div>
                    </form>
                    <p class="text-danger" id="add-noti-msg"></p>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-gradient-primary" form="add-form">Thêm</button>
            </div>
        </div>
    </div>
</div>

<!-- Model remove -->
<div class="modal fade" id="modalRemove" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal">Xóa nhu yếu phẩm</h6>
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close">
                    <span aria-hidden="true" class="text-primary">X</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body pb-3">
                    <form role="form text-left" id="remove-form" method="post">
                        <div class="input-group input-group-static my-3">
                            <p class="text-dark">Bạn xác nhận <strong style="color: red">XÓA</strong> nhu yếu phẩm này khỏi gói?</p>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-gradient-primary" form="remove-form">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- List of necessities -->
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Danh sách các nhu yếu phẩm trong gói</h6>
                </div>
            </div>
            <div class="table-responsive p-0">
                    <table id="userTable" class="table align-items-center mb-0" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder text-center w-30 table-header" onclick="">
                                    Tên sản phẩm &#9650</th>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder text-center table-header" onclick="">
                                    Giá/ Định lượng &#9650</th>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder text-center table-header" onclick="">
                                    Số lượng mua tối thiểu &#9650</th>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder text-center table-header" onclick="">
                                    Số lượng mua tối đa &#9650</th>
                                
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            
                            {{#each listNecessities}}
                            <tr>
                                <td>
                                    <div class="d-flex px-4 py-1 justify-content-center">
                                        <h6 class="mb-0 text-md">{{name}}</h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-4 py-1 justify-content-center">
                                        <h6 class="mb-0 text-md">
                                            {{price}} ₫/{{unit_of_measurement}}
                                        </h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-4 py-1 justify-content-center">
                                        <h6 class="mb-0 text-md">{{min_limit}}</h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-4 py-1 justify-content-center">
                                        <h6 class="mb-0 text-md">{{max_limit}}</h6>
                                    </div>
                                </td>
                                <td style="white-space: normal">
                                    <button id="editBtn_{{id}}" class="btn btn-success my-1 mx-2">Chỉnh sửa</button>
                                    <button id="removeBtn_{{id}}" class="btn btn-danger my-1"
                                            data-bs-toggle="modal" data-bs-target="#modalRemove"
                                            data-id="{{id}}"
                                    >Xóa</button>
                                    {{!-- <button class="btn btn-primary my-1" data-bs-toggle="modal" data-bs-target="#combo">Chi tiết gói</button> --}}
                                    <!-- Modal details -->
                                    {{!-- <div class="modal fade" id="combo" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">'
                                            <div class="modal-content">
                                                <div class="modal-header bg-primary">
                                                    <h5 class="modal-title text-white" id="detailModalLabel">Các sản phẩm trong gói</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> --}}
                                    {{!-- <button class="btn btn-primary my-1" data-bs-toggle="modal" data-bs-target="#user{{this.id}}">Xem chi tiết</button> --}}
                                    {{!-- <div class="modal fade" id="user{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header bg-primary">
                                                    <h5 class="modal-title text-white" id="exampleModalLabel">Thông tin chi tiết</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p style="font-weight: 400; color: black"><strong>Họ và tên:  </strong> {{this.name}}</p>
                                                    <p style="font-weight: 400; color: black"><strong>CMND/CCCD:  </strong> {{this.identity_card}}</p>
                                                    <p style="font-weight: 400; color: black"><strong>Năm sinh:  </strong> {{this.yob}}</p>
                                                    <p style="font-weight: 400; color: black"><strong>Địa chỉ:  </strong> {{this.ward}} - {{this.district}} - {{this.province}}</p>
                                                    <p style="font-weight: 400; color: black"><strong>Trạng thái hiện tại:  </strong> {{this.status}}</p>
                                                    <p style="font-weight: 400; color: black"><strong>Nơi đang điều trị/cách ly:  </strong> {{this.treatment_place}}</p>
                                                    <p style="font-weight: 400; color: black"><strong>Người liên quan Covid-19:  </strong>{{#if this.related_person}}{{#getName this.related_person}}{{/getName}} <a style="cursor: pointer; color: #e91e63" data-bs-toggle="modal" data-bs-target="#user{{#getId this.related_person}}{{/getId}}">(Xem chi tiết thông tin)</a>{{else}}Không có{{/if}}</p>
                                                    <p style="font-weight: 400; color: black"><strong>Lịch sử quá trình quản lý ....</strong></p>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-between">
                                                    <div>
                                                        <a href="/moderator/delete-user/{{this.id}}" stype="button" class="btn btn-danger px-3 py-2 me-1"><i class="fas fa-trash-alt"></i> Xóa</a>
                                                        <a href="/moderator/edit-user/{{this.id}}" type="button" class="btn btn-secondary px-3 py-2"><i class="far fa-edit"></i> Sửa</a>
                                                    </div>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> --}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
        </div>  
    </div>
</div>

<script type="text/javascript" src="/js/core/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    const validateAdd = () => {
        const min_limit_input = $("#add-min-input");
        const max_limit_input = $("#add-max-input");
        min_limit_input.parent().removeClass("is-invalid");
        max_limit_input.parent().removeClass("is-invalid");

        if (document.getElementById('opt').selected){
             $('#add-noti-msg').html("Vui lòng chọn sản phẩm để thêm vào gói.")
            return false;
        }

        if(min_limit_input.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua tối thiểu của sản phẩm.")
            min_limit_input.parent().addClass("is-invalid");
            return false;
        }

        if(max_limit_input.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua tối đa của sản phẩm.")
            max_limit_input.parent().addClass("is-invalid");
            return false;
        }

        const min = parseInt(min_limit_input.val());
        const max = parseInt(max_limit_input.val());
        console.log(max);
        if(min > max)
        {
            $('#add-noti-msg').html("Số lượng mua tối thiểu không được vượt quá tối đa.")
            min_limit_input.parent().addClass("is-invalid");
            max_limit_input.parent().addClass("is-invalid");
            return false;
        }
        else
        {
            return false;
        }
        return true;
    }

    //var modalRemove = $('#modalRemove');
        //modalRemove.on('shown.bs.modal', function(e)
        //{
            //$('#remove-form').attr("action",`/moderator/remove-necessity-from-combo/${$(e.relatedTarget).attr("data-id")}`);
        //});

    $().ready(() =>
    {
        var modalRemove = $('#modalRemove');
        modalRemove.on('shown.bs.modal', function(e)
        {
            $('#remove-form').attr("action",`/moderator/remove-necessity-from-combo/${$(e.relatedTarget).attr("data-id")}`);
        })
    })
</script>