<!-- Add necessities button -->
<div class="d-flex justify-content-end mb-3">
  <button type="button" class="btn bg-gradient-primary btn-block" data-bs-toggle="modal" data-bs-target="#modalAdd">
    Thêm nhu yếu phẩm
  </button>
</div>

<!-- List of necessities -->
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Danh sách các nhu yếu phẩm</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="row justify-content-start mx-3">
                    {{#each necessities}}
                    <div class="col-md-auto m-3">
                        <div class="card" style="width: 18rem;">
                            
                            <img src="{{image_path}}" class="card-img-top" alt="Hình ảnh sản phẩm {{id}}">
                            
                            
                            {{!-- <img src="/uploads/1/1.png" class="card-img-top" alt="Hình ảnh sản phẩm"> --}}
                            
                            <div class="card-body">
                                <h4 class="card-title">{{name}}</h4>
                                <p class="card-text font-weight-bold">{{price}} ₫/ {{unit_of_measurement}}</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-lg bg-transparent border border-white text-success"
                                        data-bs-toggle="modal" data-bs-target="#modalEdit"
                                        data-name="{{name}}"
                                        data-price="{{price}}"
                                        data-unit="{{unit_of_measurement}}"
                                        data-id="{{id}}"
                                        data-path="{{image_path}}">
                                        Chỉnh sửa
                                </button>
                                <button type="button" class="btn btn-lg bg-transparent border border-white text-danger"
                                        data-bs-toggle="modal" data-bs-target="#modalDelete"
                                        data-id="{{id}}">
                                        Xóa
                                </button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>    
            </div>
        </div>  
    </div>
</div>

<!-- Modal add -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal">Thêm nhu yếu phẩm mới</h6>
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close">
                    <span aria-hidden="true" class="text-primary">X</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body pb-3">
                    <form role="form tex-left" id="add-form" action="/moderator/add-necessity" method="post" onsubmit="return validateAdd()"
                          enctype="multipart/form-data">
                        
                        <main class="main_full">
                            <div class="container">
                                <div class="panel">
                                    <div class="button_outer" id="button_outer_0">
                                        <div class="btn_upload">
                                            <input type="file" id="upload_file_0" name="upload">
                                            Thêm ảnh
                                        </div>
                                        <div class="processing_bar"></div>
                                        <div class="success_box"></div>
                                    </div>
                                </div>
                                <div class="error_msg" id="error_msg_0"></div>
                                <div class="uploaded_file_view" id="uploaded_view_0">
                                    <span class="file_remove" id="file_remove_0">X</span>
                                </div>
						    </div>
                        </main>

                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Tên sản phẩm</label>
                            <input type="text" class="form-control" name="name" id="add-name-input">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Giá sản phẩm</label>
                            <input type="number" class="form-control" name="price" id="add-price-input" min="0">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Đơn vị định lượng</label>
                            <input type="text" class="form-control" name="unit" id="add-unit-input">
                        </div>
                    </form>
                    <p class="text-danger" id="add-noti-msg"></p>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-gradient-primary" form="add-form">Thêm</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal">Chỉnh sửa thông tin nhu yếu phẩm</h6>
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close">
                    <span aria-hidden="true" class="text-primary">X</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body pb-3">
                    <form role="form tex-left" id="edit-form" method="post" onsubmit="return validateEdit()"
                          enctype="multipart/form-data">

                        <main class="main_full">
                            <div class="container">
                                <div class="panel">
                                    <div class="button_outer" id="edit_button_outer_0">
                                        <div class="btn_upload">
                                            <input type="file" id="edit_upload_file_0" name="edit_upload">
                                            Thêm ảnh 
                                        </div>
                                        <div class="processing_bar"></div>
                                        <div class="success_box"></div>
                                    </div>
                                </div>
                                <div class="error_msg" id="edit_error_msg_0"></div>
                                <div class="uploaded_file_view" id="edit_uploaded_view_0">
                                    <span class="file_remove" id="edit_file_remove_0">X</span>
                                    <img id="edit_image">
                                </div>
						    </div>
                        </main>

                        <div class="input-group input-group-static my-3">
                            <label>Tên sản phẩm</label>
                            <input type="text" class="form-control" name="name" id="edit-name-input">
                        </div>
                        <div class="input-group input-group-static my-3">
                            <label>Giá sản phẩm</label>
                            <input type="number" class="form-control" name="price" id="edit-price-input" min="0">
                        </div>
                        <div class="input-group input-group-static my-3">
                            <label>Đơn vị định lượng</label>
                            <input type="text" class="form-control" name="unit" id="edit-unit-input">
                        </div>
                    </form>
                    <p class="text-danger" id="edit-noti-msg"></p>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-gradient-primary" form="edit-form">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<!-- Model delete -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal">Xóa nhu yếu phẩm</h6>
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close">
                    <span aria-hidden="true" class="text-primary">X</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body pb-3">
                    <form role="form tex-left" id="delete-form" method="post">
                        <div class="input-group input-group-static my-3">
                            <label>Bạn xác nhận XÓA nhu yếu phẩm này?</label>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-gradient-primary" form="delete-form">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="/js/core/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/upload-file-script.js"></script>
<script type="text/javascript">
    const validateAdd = () => {
        const name_input = $('#add-name-input');
        const price_input = $('#add-price-input');
        const unit_input = $('#add-unit-input');
        const image_input = $('#upload_file_0');
        name_input.parent().removeClass("is-invalid");
        price_input.parent().removeClass("is-invalid");
        unit_input.parent().removeClass("is-invalid");
        if(name_input.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập tên sản phẩm.")
            name_input.parent().addClass("is-invalid");
            return false;
        }
        if(price_input.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập giá sản phẩm.")
            price_input.parent().addClass("is-invalid");
            return false;
        }
        if(unit_input.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập đơn vị định lượng.")
            unit_input.parent().addClass("is-invalid");
            return false;
        }
        var ext = image_input.val().split('.').pop().toLowerCase();
        if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
			$('#error_msg_0').text("Vui lòng chọn ảnh sản phẩm.");
            return false;
		}
        return true;
    }

    var modalEdit = $('#modalEdit');
    modalEdit.on('shown.bs.modal',function(e){
        $('#edit-name-input').val($(e.relatedTarget).attr("data-name"));
        $('#edit-price-input').val($(e.relatedTarget).attr("data-price"));
        $('#edit-unit-input').val($(e.relatedTarget).attr("data-unit"));
        $('#edit-form').attr("action",`/moderator/update-necessity/${$(e.relatedTarget).attr("data-id")}`);

        var btnOuter = $(`#edit_button_outer_0`);
        var btnUpload = $(`#editupload_file_0`);
        btnOuter.addClass("file_uploading");
		btnOuter.addClass("file_uploaded");
        btnUpload.removeClass("show");
        $(`#edit_uploaded_view_0`).append(`<img src="${$(e.relatedTarget).attr("data-path")}" />`).addClass("show");
    })

    modalEdit.on('hidden.bs.modal',function(e){
        $(`#edit_uploaded_view_0`).find("img").remove();
        $('#edit_error_msg_0').text("");
    })

    const validateEdit = () => {
        const name_input = $('#edit-name-input');
        const price_input = $('#edit-price-input');
        const unit_input = $('#edit-unit-input');
        const image_input = $('#edit_upload_file_0');
        name_input.parent().removeClass("is-invalid");
        price_input.parent().removeClass("is-invalid");
        unit_input.parent().removeClass("is-invalid");
        if(name_input.val() === "") {
            $('#edit-noti-msg').html("Vui lòng nhập tên sản phẩm.")
            name_input.parent().addClass("is-invalid");
            return false;
        }
        if(price_input.val() === "") {
            $('#edit-noti-msg').html("Vui lòng nhập giá sản phẩm.")
            price_input.parent().addClass("is-invalid");
            return false;
        }
        if(unit_input.val() === "") {
            $('#edit-noti-msg').html("Vui lòng nhập đơn vị định lượng.")
            unit_input.parent().addClass("is-invalid");
            return false;
        }
        var ext = image_input.val().split('.').pop().toLowerCase();
        if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
			$('#edit_error_msg_0').text("Vui lòng chọn ảnh sản phẩm.");
            return false;
		}
        return true;
    }
    
    var modalDelete = $('#modalDelete');
    modalDelete.on('shown.bs.modal',function(e){
        $('#delete-form').attr("action",`/moderator/delete-necessity/${$(e.relatedTarget).attr("data-id")}`);
    })
</script>