<!-- Filter bars -->
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3 text-center">Danh sách các gói nhu yếu phẩm</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2"> 
                <div class="ms-md-auto pe-md-3 d-flex flex-row align-items-center justify-content-start mb-2">
                     <!-- Search bar -->
                    <div class="input-group input-group-outline w-40 mt-1" style="margin-left: 4rem">
                        <label class="form-label">Tìm kiếm</label>
                        <input type="text" class="form-control border-primary" id="searchInput">
                    </div>
                    <div class="p-2" style="margin-left: 20rem">
                        <div class="dropdown ms-2 m-0">
                            <a href="#" class="btn bg-gradient-primary dropdown-toggle m-0" data-bs-toggle="dropdown" id="filterDropdownMenuLink">
                                Lọc
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="filterDropdownMenuLink">
                                <div class="dropdown-item d-flex justify-content-center">
                                    <div class="row m-1">
                                        <p>
                                            <label for="amount">Số lượng giới hạn:</label>
                                            <input type="text" id="amount" readonly style="border:0; color:#107ee6; font-weight:bold;">
                                        </p>
                                    <div id="slider-range"></div>
                                </div>  
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="p-2">
                      <button type="button" class="btn bg-gradient-primary btn-block m-0" onclick="sortProductByName()" id="arrange_name_btn">Sắp xếp theo tên &#9660</button>
                    </div>
                    <!-- Add combos button -->
                    <div class="p-2">
                        <button type="button" class="btn bg-gradient-success btn-block m-0" data-bs-toggle="modal" data-bs-target="#modalAdd">
                            Thêm gói nhu yếu phẩm
                        </button>
                    </div>
                </div>
                <!-- List of combos -->
                <div class="row justify-content-start mx-3">
                    <table id="userTable">
                        <tbody id="tableBody">
                            {{#each combos}}
                            <tr style="display: inline">
                                <td>
                                    <div class="col-md-auto m-3">
                                        <div class="card" style="width: 18rem;">                                            
                                            {{!-- <img src="" class="card-img-top" alt="Hình ảnh sản phẩm {{id}}"> --}}
                                            <div class="card-body" class="cardContent">
                                                <h4 class="card-title">{{name}}</h4>
                                                <p class="card-text font-weight-bold">{{sales_limit}} gói/{{#parseTimeLimit sales_cycle}}{{/parseTimeLimit}}</p>
                                            </div>
                                            <div class="card-body d-flex justify-content-center">
                                                <a class="btn btn-primary my-1" type="button" href="/moderator/necessities-combo-details/{{id}}"
                                                   data-id="{{id}}">Chi tiết gói</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  
    </div>
</div>

<!-- Modal add -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal">Thêm gói nhu yếu phẩm mới</h6>
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close">
                    <span aria-hidden="true" class="text-primary">X</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body pb-3">
                    <form role="form text-left" id="add-form" action="/moderator/add-necessity-combo" method="post" onsubmit="return validateAdd()">
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Tên gói</label>
                            <input type="text" class="form-control" name="name" id="add-name-input">
                        </div>

                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Số lượng giới hạn</label>
                            <input type="number" class="form-control" name="limit" id="add-sales-limit-input" min="1">
                        </div>

                        <div class="input-group input-group-outline my-3 mx-2">
                            <p>Thời gian giới hạn:</p>
                            <input class="form-control" type="text" name="cycle" id="add-sales-cycle-input" hidden>
                            <input class="mx-2 my-2" type="radio" id="day" name="sales_cycle" value="day">
                            <label class="mr-2 my-1" for="day">Ngày</label>
                            <input class="mx-2 my-2" type="radio" id="week" name="sales_cycle" value="week">
                            <label class="mr-2 my-1" for="week">Tuần</label>
                            <input class="mx-2 my-2" type="radio" id="month" name="sales_cycle" value="month">
                            <label class="mr-2 my-1" for="month">Tháng</label>
                        </div>

                        <div class="input-group input-group-outline my-3">
                            <select class="form-control" name="necesstity_to_add_1" id="necesstity_to_add_1">
                                    <option id="opt_1" {{#if necessities}}{{else}}selected{{/if}} disabled>Nhu yếu phẩm 1 cần thêm</option>
                                {{#each necessities}}
                                    <option>{{this.id}}. {{this.name}}, {{this.price}} ₫/{{this.unit_of_measurement}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="input-group input-group-outline my-3">
                            <input type="number" placeholder="Số lượng mua tối thiểu" class="form-control mx-2" name="min_1" id="add-min-input-1" min="1">
                            <input type="number" placeholder="Số lượng mua tối đa" class="form-control mx-2" name="max_1" id="add-max-input-1" min="1">
                        </div>

                        <div class="input-group input-group-outline my-3">
                            <select class="form-control" name="necesstity_to_add_2" id="necesstity_to_add_2">
                                    <option id="opt_2" {{#if necessities}}{{else}}selected{{/if}} disabled>Nhu yếu phẩm 2 cần thêm</option>
                                {{#each necessities}}
                                    <option>{{this.id}}. {{this.name}}, {{this.price}} ₫/{{this.unit_of_measurement}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="input-group input-group-outline my-3">
                            <input type="number" placeholder="Số lượng mua tối thiểu" class="form-control mx-2" name="min_2" id="add-min-input-2" min="1">
                            <input type="number" placeholder="Số lượng mua tối đa" class="form-control mx-2" name="max_2" id="add-max-input-2" min="1">
                        </div>
                    </form>
                    <p class="text-danger" id="add-noti-msg"></p>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-gradient-primary" form="add-form">Thêm</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/core/jquery-3.6.0.min.js"></script>
<script>
    const validateAdd = () => {
        const name_input = $('#add-name-input');
        const sales_limit_input = $('#add-sales-limit-input');
        const sales_cycle_input = $('#add-sales-cycle-input');
        const min_limit_input_1 = $("#add-min-input-1");
        const max_limit_input_1 = $("#add-max-input-1");
        const min_limit_input_2 = $("#add-min-input-2");
        const max_limit_input_2 = $("#add-max-input-2");
        name_input.parent().removeClass("is-invalid");
        sales_limit_input.parent().removeClass("is-invalid");
        min_limit_input_1.parent().removeClass("is-invalid");
        max_limit_input_1.parent().removeClass("is-invalid");
        min_limit_input_2.parent().removeClass("is-invalid");
        max_limit_input_2.parent().removeClass("is-invalid");
        //sales_cycle_input.parent().removeClass("is-invalid");
        if(name_input.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập tên gói.")
            name_input.parent().addClass("is-invalid");
            return false;
        }
        if(sales_limit_input.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua giới hạn của gói.")
            price_input.parent().addClass("is-invalid");
            return false;
        }
        if (document.getElementById('day').checked) {
            sales_cycle_input.val("day");
        }
        else {
            if (document.getElementById('week').checked) {
                sales_cycle_input.val("week");
            }
            else
            {
                if (document.getElementById('month').checked) {
                    sales_cycle_input.val("month");
                }
                else
                {
                    $('#add-noti-msg').html("Vui lòng chọn thời gian giới hạn mua.")
                    //sales_cycle_input.parent().addClass("is-invalid");
                    return false;
                }
            }
        }

        if (document.getElementById('opt_1').selected){
             $('#add-noti-msg').html("Vui lòng chọn sản phẩm 1 để thêm vào gói.")
            return false;
        }

        if (document.getElementById('opt_2').selected){
             $('#add-noti-msg').html("Vui lòng chọn sản phẩm 2 để thêm vào gói.")
            return false;
        }

        if ($('#necesstity_to_add_1').val() === $('#necesstity_to_add_2').val()){
             $('#add-noti-msg').html("Vui lòng chọn 2 sản phẩm khác nhau.")
            return false;
        }

        if (min_limit_input_1.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua tối thiểu của sản phẩm 1.")
            min_limit_input_1.parent().addClass("is-invalid");
            return false;
        }
        if (max_limit_input_1.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua tối đa của sản phẩm 1.")
            max_limit_input_1.parent().addClass("is-invalid");
            return false;
        }
        if (min_limit_input_2.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua tối thiểu của sản phẩm 2.")
            min_limit_input_2.parent().addClass("is-invalid");
            return false;
        }
        if (max_limit_input_2.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua tối đa của sản phẩm 2.")
            max_limit_input_2.parent().addClass("is-invalid");
            return false;
        }
        
        if (parseInt(min_limit_input_1.val()) > parseInt(max_limit_input_1.val()))
        {
            $('#add-noti-msg').html("Số lượng mua tối thiểu không được vượt quá tối đa (1)");
            min_limit_input_1.parent().addClass("is-invalid");
            max_limit_input_1.parent().addClass("is-invalid");
            return false;
        }

        if (parseInt(min_limit_input_2.val()) > parseInt(max_limit_input_2.val()))
        {
            $('#add-noti-msg').html("Số lượng mua tối thiểu không được vượt quá tối đa (2)");
            min_limit_input_2.parent().addClass("is-invalid");
            max_limit_input_2.parent().addClass("is-invalid");
            return false;
        }
        return true;
    }

    $( function() {
    $("#slider-range").slider({
        range: true,
        min: 1,
        max: 20,
        values: [ 1, 10 ],
        slide: function(event, ui) {
            $("#amount").val(ui.values[0] + " - " + ui.values[1] + " gói");
            const table = document.getElementById("userTable");
            var rows = table.rows;

            for (i = 0; i < rows.length; i++)
            {
                var rowsItem = rows[i].getElementsByTagName("p");
                var rowsVal = parseInt(rowsItem[0].innerHTML.toLowerCase().split(" ")[0]);
                if (rowsVal >= ui.values[0]
                    && rowsVal <= ui.values[1]
                   )
                   {
                        rows[i].style.display = "inline";
                   }
                else
                {
                    rows[i].style.display = "none";
                }
            }
        }
    });
    $("#amount").val($("#slider-range").slider("values", 0) +
      " - " + $("#slider-range").slider("values", 1) + " gói" );
  } );
</script>