<!-- Add combos button -->
<div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn bg-gradient-primary btn-block" data-bs-toggle="modal" data-bs-target="#modalAdd">
        Thêm gói nhu yếu phẩm
    </button>
</div>

<!-- List of combos -->
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Danh sách các gói nhu yếu phẩm</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <!-- Search -->
                <div class="ms-md-auto pe-md-3 d-flex align-items-center justify-content-center mb-2">
                    <div class="input-group input-group-outline w-50 mt-1 me-4">
                        <label class="form-label">Search...</label>
                        <input type="text" class="form-control border-primary" id="search_input">
                    </div>
                </div>
            </div>
            <div class="table-responsive p-0">
                    {{!-- <div class="ms-md-auto pe-md-3 d-flex align-items-center justify-content-center mb-2">
                        <div class="input-group input-group-outline w-50 mt-1 me-4">
                            <label class="form-label">Tìm kiếm</label>
                            <input type="text" class="form-control border-primary" id="searchInput">
                        </div>   
                    </div> --}}
                    <table id="userTable" class="table align-items-center mb-0" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder text-center w-50 table-header" onclick="">
                                    Tên gói &#9650</th>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder text-center table-header" onclick="">
                                    Số lượng giới hạn &#9650</th>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder text-center table-header" onclick="">
                                    Thời gian giới hạn &#9650</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            {{#each combos}}
                            <tr>
                                <td>
                                    <div class="d-flex px-4 py-1 justify-content-center">
                                        <h6 class="mb-0 text-md">{{name}}</h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-4 py-1 justify-content-center">
                                        <h6 class="mb-0 text-md">{{sales_limit}}</h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-4 py-1 justify-content-center">
                                        <h6 class="mb-0 text-md">{{#parseTimeLimit sales_cycle}}  {{/parseTimeLimit}}</h6>
                                    </div>
                                </td>
                                <td style="white-space: normal">
                                    <a class="btn btn-primary my-1" type="button" href="/moderator/necessities-combo-details/{{id}}"
                                    data-id="{{id}}">Chi tiết gói</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
        </div>  
    </div>
</div>

<!-- Modal add -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal">Thêm gói nhu yếu phẩm mới</h6>
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close">
                    <span aria-hidden="true" class="text-primary">X</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body pb-3">
                    <form role="form text-left" id="add-form" action="/moderator/add-necessity-combo" method="post" onsubmit="return validateAdd()">
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Tên gói</label>
                            <input type="text" class="form-control" name="name" id="add-name-input">
                        </div>

                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Số lượng giới hạn</label>
                            <input type="number" class="form-control" name="limit" id="add-sales-limit-input" min="1">
                        </div>

                        <div class="input-group input-group-outline my-3 mx-2">
                            <p>Thời gian giới hạn:</p>
                            <input class="form-control" type="text" name="cycle" id="add-sales-cycle-input" hidden>
                            <input class="mx-2 my-2" type="radio" id="day" name="sales_cycle" value="day">
                            <label class="mr-2 my-1" for="day">Ngày</label>
                            <input class="mx-2 my-2" type="radio" id="week" name="sales_cycle" value="week">
                            <label class="mr-2 my-1" for="week">Tuần</label>
                            <input class="mx-2 my-2" type="radio" id="month" name="sales_cycle" value="month">
                            <label class="mr-2 my-1" for="month">Tháng</label>
                        </div>

                        <div class="input-group input-group-outline my-3">
                            <select class="form-control" name="necesstity_to_add_1">
                                    <option id="opt_1" {{#if necessities}}{{else}}selected{{/if}} disabled>Nhu yếu phẩm 1 cần thêm</option>
                                {{#each necessities}}
                                    <option>{{this.id}}. {{this.name}}, {{this.price}} ₫/{{this.unit_of_measurement}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="input-group input-group-outline my-3">
                            <input type="number" placeholder="Số lượng mua tối thiểu" class="form-control mx-2" name="min_1" id="add-min-input-1" min="1">
                            <input type="number" placeholder="Số lượng mua tối đa" class="form-control mx-2" name="max_1" id="add-max-input-1" min="2">
                        </div>

                        <div class="input-group input-group-outline my-3">
                            <select class="form-control" name="necesstity_to_add_2">
                                    <option id="opt_2" {{#if necessities}}{{else}}selected{{/if}} disabled>Nhu yếu phẩm 2 cần thêm</option>
                                {{#each necessities}}
                                    <option>{{this.id}}. {{this.name}}, {{this.price}} ₫/{{this.unit_of_measurement}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="input-group input-group-outline my-3">
                            <input type="number" placeholder="Số lượng mua tối thiểu" class="form-control mx-2" name="min_2" id="add-min-input-2" min="1">
                            <input type="number" placeholder="Số lượng mua tối đa" class="form-control mx-2" name="max_2" id="add-max-input-2" min="2">
                        </div>
                    </form>
                    <p class="text-danger" id="add-noti-msg"></p>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-gradient-primary" form="add-form">Thêm</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/core/jquery-3.6.0.min.js"></script>
<script>
    const validateAdd = () => {
        const name_input = $('#add-name-input');
        const sales_limit_input = $('#add-sales-limit-input');
        const sales_cycle_input = $('#add-sales-cycle-input');
        const min_limit_input_1 = $("#add-min-input-1");
        const max_limit_input_1 = $("#add-max-input-1");
        const min_limit_input_2 = $("#add-min-input-2");
        const max_limit_input_2 = $("#add-max-input-2");
        name_input.parent().removeClass("is-invalid");
        sales_limit_input.parent().removeClass("is-invalid");
        min_limit_input_1.parent().removeClass("is-invalid");
        max_limit_input_1.parent().removeClass("is-invalid");
        min_limit_input_2.parent().removeClass("is-invalid");
        max_limit_input_2.parent().removeClass("is-invalid");
        //sales_cycle_input.parent().removeClass("is-invalid");
        if(name_input.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập tên gói.")
            name_input.parent().addClass("is-invalid");
            return false;
        }
        if(sales_limit_input.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua giới hạn của gói.")
            price_input.parent().addClass("is-invalid");
            return false;
        }
        if (document.getElementById('day').checked) {
            sales_cycle_input.val("day");
        }
        else {
            if (document.getElementById('week').checked) {
                sales_cycle_input.val("week");
            }
            else
            {
                if (document.getElementById('month').checked) {
                    sales_cycle_input.val("month");
                }
                else
                {
                    $('#add-noti-msg').html("Vui lòng chọn thời gian giới hạn mua.")
                    //sales_cycle_input.parent().addClass("is-invalid");
                    return false;
                }
            }
        }

        if (document.getElementById('opt_1').selected){
             $('#add-noti-msg').html("Vui lòng chọn sản phẩm 1 để thêm vào gói.")
            return false;
        }

        if (document.getElementById('opt_2').selected){
             $('#add-noti-msg').html("Vui lòng chọn sản phẩm 2 để thêm vào gói.")
            return false;
        }

        if (min_limit_input_1.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua tối thiểu của sản phẩm 1.")
            min_limit_input_1.parent().addClass("is-invalid");
            return false;
        }
        if (max_limit_input_1.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua tối đa của sản phẩm 1.")
            max_limit_input_1.parent().addClass("is-invalid");
            return false;
        }
        if (min_limit_input_2.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua tối thiểu của sản phẩm 2.")
            min_limit_input_2.parent().addClass("is-invalid");
            return false;
        }
        if (max_limit_input_2.val() === "") {
            $('#add-noti-msg').html("Vui lòng nhập số lượng mua tối đa của sản phẩm 2.")
            max_limit_input_2.parent().addClass("is-invalid");
            return false;
        }
        
        if (parseInt(min_limit_input_1.val()) > parseInt(max_limit_input_1.val()))
        {
            $('#add-noti-msg').html("Số lượng mua tối thiểu không được vượt quá tối đa (1)");
            min_limit_input_1.parent().addClass("is-invalid");
            max_limit_input_1.parent().addClass("is-invalid");
            return false;
        }

        if (parseInt(min_limit_input_2.val()) > parseInt(max_limit_input_2.val()))
        {
            $('#add-noti-msg').html("Số lượng mua tối thiểu không được vượt quá tối đa (2)");
            min_limit_input_2.parent().addClass("is-invalid");
            max_limit_input_2.parent().addClass("is-invalid");
            return false;
        }
        return true;
    }
</script>